Repository atlarge-research/opendc, pull requests merged in 2021-12, with the labels that each got.

#48 Support convergence of space shared hypervisor
  .github/workflows/build.yml
  opendc-simulator/opendc-simulator-compute/src/main/kotlin/org/opendc/simulator/compute/kernel/SimSpaceSharedHypervisor.kt
  opendc-simulator/opendc-simulator-flow/src/main/kotlin/org/opendc/simulator/flow/FlowForwarder.kt
  opendc-simulator/opendc-simulator-flow/src/main/kotlin/org/opendc/simulator/flow/mux/ForwardingFlowMultiplexer.kt
Labels: kind/bug, area/simulator

#49 Update to log4j 2.15.0
  gradle/libs.versions.toml
Labels: kind/build

#50 Read dependencies from .gwf trace
  opendc-trace/opendc-trace-gwf/src/main/kotlin/org/opendc/trace/gwf/GwfTaskTableReader.kt
  opendc-trace/opendc-trace-gwf/src/test/kotlin/org/opendc/trace/gwf/GwfTraceFormatTest.kt
  opendc-workflow/opendc-workflow-service/src/test/kotlin/org/opendc/workflow/service/WorkflowServiceTest.kt
Labels: kind/bug, area/trace

#52 Address log4j vulnerabilities
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.properties
Labels: kind/build
